[submodule "epoe"]
	path = epoe
	url = https://github.com/Metastruct/EPOE
[submodule "glib"]
	path = glib
	url = https://github.com/notcake/glib
[submodule "gooey"]
	path = gooey
	url = https://github.com/notcake/gooey
[submodule "gcodec"]
	path = gcodec
	url = https://github.com/notcake/gcodec
[submodule "vfs"]
	path = vfs
	url = https://github.com/notcake/vfs
[submodule "gcompute"]
	path = gcompute
	url = https://github.com/notcake/gcompute
[submodule "gvote"]
	path = gvote
	url = https://github.com/notcake/gvote
[submodule "garrysmod-chatsounds"]
	path = garrysmod-chatsounds
	url = https://github.com/Metastruct/garrysmod-chatsounds
[submodule "pac3"]
	path = pac3
	url = https://github.com/Metastruct/pac3
[submodule "wire"]
	path = wire
	url = https://github.com/wiremod/wire
[submodule "advdupe2"]
	path = advdupe2
	url = https://github.com/wiremod/advdupe2
[submodule "mingeban2"]
	path = mingeban2
	url = https://github.com/Re-Dream/mingeban2
[submodule "gm-mediaplayer"]
	path = gm-mediaplayer
	url = https://github.com/pixeltailgames/gm-mediaplayer
[submodule "luadev"]
	path = luadev
	url = https://github.com/Metastruct/luadev
[submodule "Sit-Anywhere"]
	path = sit-anywhere
	url = https://github.com/Xerasin/Sit-Anywhere
[submodule "customisable_thirdperson"]
	path = customisable_thirdperson
	url = https://github.com/CapsAdmin/customisable_thirdperson/
[submodule "PatchProtect"]
	path = patchprotect
	url = https://github.com/Patcher56/PatchProtect
[submodule "starfallex"]
	path = starfallex
	url = https://github.com/thegrb93/StarfallEx
[submodule "easychat"]
	path = easychat
	url = https://github.com/Earu/EasyChat
